.FirstSection{
    background-image: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.cotainer{
    margin-top: 3rem;
}